name: Continuous Integration

on: [push, pull_request]

jobs:
  macos:
    name: macOS
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode:
          - 13.2.1
        action:
          - build
          - test
    steps:
    - uses: actions/checkout@v1
    - name: Xcode version
      run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
    - name: Action
      run: swift ${{ matrix.action }}

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - 5.2.5
          - 5.5.3
        ubuntu:
          - bionic
          - xenial
          - focal
        action:
          - build
          - test
    steps:
    - uses: actions/checkout@v1
    - name: Action
      run: |
        dockerfile=$(mktemp)
        docker=swift:${{ matrix.swift }}-${{ matrix.ubuntu }}
        echo "FROM $docker"                    >  $dockerfile
        echo 'ADD . FileCheck'                 >> $dockerfile
        echo 'WORKDIR FileCheck'               >> $dockerfile
        echo "RUN swift ${{ matrix.action }}"  >> $dockerfile
        image=filecheck
        docker image rm -f "$image" > /dev/null
        docker build -t "$image" -f $dockerfile .
        docker run --rm "$image"
